<div class="ui">
	<main-nav></main-nav>
</div>

<div class="ui">
	<h2>Instructions for print</h2>
	<ul>
		<li>Check the checkbox to the left of recipes you want to print.</li>
		<li>Make sure you print in landscape</li>
		<li>For best effects, print with backgrounds, to get the best design contrast and readability</li>
	</ul>
</div>

<div class="col" id="recipes">
	<h1>Alchemy: Recipes</h1>
	<div class="ui">
		<div class="option"><button (click)="flipToggles('recipe', true);" checked=checked>Toggle All</button></div>
		<div class="option"><button (click)="flipToggles('recipe', false);" checked=checked>Toggle None</button></div>
		<h2>Find Recipes with</h2>
		<form name="recipeReagentForm" #reagentFilterForm>
			<div class="recipe-filter" *ngFor="let rp of reagent_properties | keyvalue">
				<span [ngStyle]="{ color: rp.value.colour }">{{rp.value.name}}</span> <input type="number" [attr.data-reagentfilterkey]="rp.key" value="0" (change)="updateReagentFilter($event)">
			</div>
			<button (click)="clearRecipeReagents();" checked=checked>Clear</button>
		</form>
	</div>
	<div class="alchemy_recipe" *ngFor="let rcp of recipes; let i = index" [id]="'se'+i">
		<label [for]="'setoggle'+i">
			<div class="main">
				<div class="toggle"><input type="checkbox" checked="checked" (click)="toggleDisplayClass('se'+i)" [id]="'setoggle'+i" [attr.data-index]="i" data-type="recipe" #toggle></div>
				<div class="name">{{rcp.name}}</div>
				<div class="reagents">
					<div class="reagent" *ngFor="let reagent of rcp.reagents" [ngStyle]="{ color:reagent.colour }">{{reagent.name}}</div>
				</div>
				<div class="dc">{{rcp.dc}}</div>
				<div class="time"><img src="assets/images/ico.time.svg">{{rcp.time}}</div>
			</div>
			<div class="desc">{{rcp.desc}}</div>
			<div class="effect">{{rcp.effects}}</div> <div class="effect-superb" *ngIf="rcp.superb_effects">{{rcp.superb_effects}}</div>
		</label>
	</div>
</div>
<div class="col" id="reagents">
	<h1>Alchemy: Reagents</h1>
	<div class="ui">
		<div class="option"><button (click)="flipToggles('reagents', true);" checked=checked>Toggle All</button></div>
		<div class="option"><button (click)="flipToggles('reagents', false);" checked=checked>Toggle None</button></div>
		<h2>Find Reagents with</h2>
	</div>
</div>