@import "../../constants";

.ui {
	margin-bottom:15px;

	.option {
		display:inline-block;
		padding:5px; margin:5px 5px 5px 0;

		border-radius:6px;
		background:#f4f4f4;
	}

	.recipe-filter {
		display:inline-block;
		width:100px; margin-right:$stPad;
		margin-bottom:8px;

		span { display:inline-block; width:80px; }
		input { width:40px; height:20px; border:1px solid #666; border-radius:4px; outline:none; }
	}
}

h1 { font-size:1.35rem; font-weight:bold; font-style:italic; margin-bottom:2px; }
h2 { font-size:1.1rem; font-weight:bold; font-style:italic; margin-bottom:2px; }

.alchemy_reagent {
	
	display:inline-block;
	vertical-align:top;
	width:calc(33% - 8px);
	margin-left:8px;
	margin-bottom:5px;
	color:#333;

	&:nth-child(3n) { margin-left:0; }
	&.hidden { opacity:0.5; }
	
	label {
		display:block;
		padding:3px;

		border-radius:6px;
		background:rgba(0, 0, 0, 0.06);

		.main {
			display:flex;
			flex-direction:row;

			.left, .left > div, .right, .right > div { display:inline-block; }
			.left {
				flex:auto;
			}

			.right {
				flex:auto;
				text-align:right;
				overflow:hidden;
			}

			.toggle { width:25px; }

			.name, .reagents { margin-right:$stPad/2; }

			.name {
				flex:1;
				color:#000; font-size:1rem; font-weight:bold;
				margin-right:10px;
			}

			.properties {
				flex:0;
				display:inline-flex !important;
				
				.property { margin-right:$stPad/2; }
				.reagent:last-child { margin-right:0; }
			}

			.rar {
				flex:0;
				height:17px;
				margin-left:$stPad/1.5;
				font-size:0.7rem;
				text-align:right; color:#fff;
				padding:3px;
				border-radius:4px;

				display: inline-block;
				box-sizing: border-box;

				&[data-rarity="Common"] { background:#999; }
				&[data-rarity="Uncommon"] { background:#777; }
				&[data-rarity="Rare"] { background:#555; }
			}
		}

		.desc {
			font-size:0.85rem;
		}

		.effect, .effect-superb {
			display:inline-block;
			font-size:0.85rem;
			font-weight:bold;
			margin-right:$stPad/2;
		}

		.effect-superb {
			font-style:italic;
			&:before {
				content: "⭐";
				display:inline-block;
				margin-right:$stPad/4;
			}
		}
	}
}

@media print {
	h1 { font-size:1rem; }
	.alchemy_reagent {

		label { padding:$stPad/2; }
	}
	.alchemy_reagent label {
		.main {
			margin-bottom:$stPad/4;

			.name { font-size:0.7em; }
			.properties { font-size:0.6em; }
			.rar { font-size:0.5em; margin-top:-2px; height:14px; padding:2px 2px; }
		}
		.desc { font-size:0.65rem; margin-bottom:$stPad/4; }
		.effect, .effect-superb { font-size:0.5rem; }
	}
	.ui { display:none; }
	.alchemy_reagent.hidden { display:none; }
	.alchemy_reagent { page-break-inside:avoid; }
	.toggle { display:none; }
}