<div class="ui">
	<main-nav></main-nav>
</div>

<div class="ui">
	<h2>Instructions for print</h2>
	<ul>
		<li>Check the checkbox to the left of recipes you want to print.</li>
		<li>Make sure you print in landscape</li>
		<li>For best effects, print with backgrounds, to get the best design contrast and readability</li>
	</ul>
</div>

<div class="col" id="recipes">
	<h1>Alchemy: Reagents</h1>
	<div class="ui">
		<div class="option"><button (click)="flipToggles('recipe', true);" checked=checked>Toggle All</button></div>
		<div class="option"><button (click)="flipToggles('recipe', false);" checked=checked>Toggle None</button></div>
		<h2>Find Reagents with</h2>
		<form name="toggleForm" #toggleForm><div class="option" *ngFor="let prop of reagentPropertiesToggle | keyvalue"><input type="checkbox" [attr.id]="'prop-'+prop.value.code" name="input" (change)="updateReagentToggles(prop.value.code);" [(ngModel)]="prop.value.toggled"><label [attr.for]="'prop-'+prop.value.code"  [ngStyle]="{ color: prop.value.colour }">{{prop.value.name}}</label></div><button (click)="clearReagentFilter();" checked=checked>Clear</button></form>
	</div>
	<div class="alchemy_reagent" *ngFor="let rcp of reagents; let i = index" [id]="'se'+i">
		<label [for]="'setoggle'+i">
			<div class="main">
				<div class="left">
					<div class="toggle"><input type="checkbox" checked="checked" (click)="toggleDisplayClass('se'+i)" [id]="'setoggle'+i" [attr.data-index]="i" data-type="recipe" #toggle></div>
					<div class="name">{{rcp.name}}</div>
				</div>
				<div class="right">
					<div class="properties">
						<div class="property" *ngFor="let prop of rcp.properties" [ngStyle]="{ color:prop.colour }">{{prop.name}}</div>
					</div>
					<div class="rar" [attr.data-rarity]="rcp.rarity">{{rcp.rarity}}</div>
				</div>
			</div>
			<div class="desc">{{rcp.desc}}</div>
		</label>
	</div>
</div>