@import "../../constants";

.ui {
	margin-bottom:15px;

	.option {
		display:inline-block;
		padding:5px; margin:5px 5px 5px 0;

		border-radius:6px;
		background:#f4f4f4;
	}

	.recipe-filter {
		display:inline-block;
		width:100px; margin-right:$stPad;
		margin-bottom:8px;

		span { display:inline-block; width:80px; }
		input { width:40px; height:20px; border:1px solid #666; border-radius:4px; outline:none; }
	}
}

h1 { font-size:1.35rem; font-weight:bold; font-style:italic; margin-bottom:2px; }
h2 { font-size:1.1rem; font-weight:bold; font-style:italic; margin-bottom:2px; }

.alchemy_recipe {

	margin-bottom:5px;
	color:#333;

	&.hidden { opacity:0.5; }
	
	label {
		display:block;
		padding:3px;

		border-radius:6px;
		background:rgba(0, 0, 0, 0.06);

		.main {
			display:flex;
			flex-direction:row;

			.toggle { width:25px; }

			.name, .reagents { margin-right:$stPad/2; }

			.type {
				font-weight:normal;
				color:#999;
			}

			.name {
				flex:1;
				color:#000; font-size:1rem; font-weight:bold;
				margin-right:10px;
			}

			.reagents {
				flex:0;
				display:flex;
				
				.reagent { margin-right:$stPad/2; }
				.reagent:last-child { margin-right:0; }
			}

			.dc {
				flex:0;
				height:15px;
				margin:0 $stPad/1.5;
				font-size:0.7rem;
				text-align:right; color:#fff;
				padding:3px;
				border-radius:4px;
				background:#333;

				display: inline-block;
				box-sizing: border-box;

				&:before {
					content:"DC";
					margin-right:2px;
				}
			}

			.time {
				flex:0;
				min-width:50px;
				font-size:0.8rem;
				overflow:hidden;
				white-space:nowrap;
				line-height:1rem;
				padding-right:$stPad/2;
				text-align:right;

				img { height:18px; vertical-align:middle; }
			}
		}

		.desc {
			font-size:0.85rem;
		}

		.effect {
			display:inline-block;
			font-size:0.85rem;
			font-weight:bold;
			margin-right:$stPad/2;
		}
	}
}

@media print {
	h1 { font-size:1rem; }
	.alchemy_recipe {
		display:inline-block;
		vertical-align:top;
		width:calc(50% - 10px);

		label { padding:$stPad/4; }
		
		&:nth-child(2n) { margin-left:10px; }
	}
	.alchemy_recipe label {
		.main {
			margin-bottom:$stPad/8;

			.name { font-size:0.7em; }
			.reagents { font-size:0.6em; }
			.dc { font-size:0.5em; }
		}
		.desc { font-size:0.4rem; }
		.effect, .effect-superb { font-size:0.5rem; }
	}
	.ui { display:none; }
	.alchemy_recipe.hidden { display:none; }
	.alchemy_recipe { page-break-inside:avoid; }
	.toggle { display:none; }
}